{% load function %}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block title %} {{ hotel.name }} {% endblock %}
{% block meta_desc %} {{ hotel.description }} {% endblock %}
{% block meta_keywords %} {{ h.name.split|join:"," }} {% endblock %}
<div class="p-0 d-flex flex-wrap m-0" id="hotelsListContainer">
    {% for h in hotel %}
        <div class="w-100 my-3 hotelListContainer border-bottom pb-1 d-flex flex-wrap" style="min-height: 255px">
            <div class="imgCover hotelListItem overflow-hidden border-radius-5 w-25">
                <img class="w-100 h-100" style="object-fit: cover" src="/media/{{ h.default_cover.file }}">
            </div>
            <div class="hotel-info hotelListItem py-1 px-2 w-50" style="border-left: 1px solid #eee">
                <a href="{% url 'hotelPage' h.reference h.name.split|join:"_" %}"
                   class="fs-15 my-1 btn-link cursor-pointer d-flex">{{ h.name }}</a>
                <address class="fs-13 fst-italic">{{ h.address }}</address>
                <div class="review-star d-flex">
                    <label style="width: 50px;box-shadow: -2px 3px 2px #ffc107;"
                           class="d-flex border-radius-5 align flex-wrap align-items-center text-center justify-content-center">
                        <span class="w-100 d-block icon-star-full text-warning"></span>
                        <span class="w-100 d-block">{{ h.stars }}</span>
                    </label>
                    {% if h.count_reviews > 0 %}
                        <label style="min-width: 50px;box-shadow: -2px 3px 2px #198754;"
                               class="mx-3 d-flex border-radius-5 align flex-wrap align-items-center text-center justify-content-center">
                            <span class="w-100 d-block icon-bubbles4 text-success"></span>
                            <span class="w-100 d-block fs-13">{{ h.count_reviews }}</span>
                        </label>
                    {% endif %}
                    <label style="min-width: 50px;box-shadow: -2px 3px 2px #000;"
                           class="mx-3 d-flex border-radius-5 align flex-wrap align-items-center text-center justify-content-center">
                        <span class="w-100 d-block icon-location"></span>
                        <span class="w-100 d-block fs-13">{{ h.city.name }}</span>
                    </label>
                </div>
                <div class="facilityHotels flex-wrap border-top py-1 mt-3 d-flex">
                    {% for f in h.facility_set.all %}
                        <label style="min-width: 50px;" class="border-radius-5 bg-muted m-1 p-1">
                            <span class="w-100 d-block text-center fs-12">{{ f.title }}</span>
                        </label>
                    {% endfor %}
                </div>
                <div class="noteHotels mt-3 d-flex">
                    <p class="fs-12 text-muted" style="line-height: 2">{{ h.short_desc|truncatewords:27 }}</p>
                </div>
            </div>
            <div class="hotelPricing hotelListItem d-flex w-25 flex-wrap align-items-center position-relative align-content-between justify-content-center"
                 style="width: 195px">
                {% if h.reduction > 0 %}
                    <div class="position-relative align-items-center d-flex justify-content-center w-100"
                         style="height: 55px">
                        <div style="width: 55px;height: 55px;left: 0;top: 1px" class="position-absolute">
                                {% if h.reduction_type == 1 %}
                                    <span class="w-100 border-radius-5 d-flex bg-black" style="height: 5px;"></span>
                                    <div class="d-flex align-items-center justify-content-center mx-auto text-white fs-20 m-auto" style="height: 50px;background: #ff5b6b;width: 95%;left: 0;right: 0;top: 5px">
                                        {{ h.reduction|floatformat:"0"|intcomma:False }}%
                                    </div>
                                {% else %}
                                    <span style="color: #ff5b6b;text-decoration: line-through">{{ h.reduction|floatformat:"0"|intcomma:False }}  </span>
                                {% endif %}
                        </div>
                        <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                            <p class="fs-18 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                                <span style="text-decoration: line-through;color: #ff5b6b"
                                      class="w-100 ">{{ h.price_bef|floatformat:"0"|intcomma:False }}</span>&nbsp;
                            </p>
                        </label>
                    </div>
                {% endif %}
                <div class="w-100 flex-wrap d-flex justify-content-center">
                </div>
                <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                    <p class="fs-25 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                        <span class="_price_per_night">{{ h.price|floatformat:"0"|intcomma:False }}</span>&nbsp;
                        <span class="text-muted fs-12">{% trans 'تومان' %}</span>
                    </p>
                    <span class="w-100 text-center text-muted my-2 fs-14">{% trans 'هر شب' %}</span>
                </label>
                <div class="w-100 text-center">
                    <a href="{% url 'hotelPage' h.reference h.name.split|join:"_" %}"
                       class="btn fs-14 m-auto btn-primary" style="width: 95%">مشاهده اتاق ها</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div id="pagination" class="display-flex position-relative align-items-center w-100 my-4 justify-content-center">
        {% if hotel.has_previous %}
            <label for="prevPage" class="fs-12 btn btn-primary" style="width: 100px;">
                <span class="d-block text-center text-white">{% trans 'صفحه قبل' %}</span>
                <input type="radio" id="prevPage" value="{{ hotel.previous_page_number }}"
                       data-action="page"
                       class="fs-12 position-absolute  border-0 bg-transparent filter-options">
            </label>
        {% endif %}
        {% if hotel.has_previous and hotel.has_next %}
            <span class="fs-15 fw-bold mx-3 border-radius-5 p-2 text-center" style="width: 85px;">{{ hotel.number }}</span>
        {% endif %}
        {% if hotel.has_next %}
            <label for="nextPage" class="fs-12 btn btn-primary" style="width: 100px;">
                <span class="d-block text-center text-white">{% trans 'صفحه بعد' %}</span>
                <input type="radio" id="nextPage" value="{{ hotel.next_page_number }}" data-action="page"
                       class="fs-12 position-absolute  border-0 bg-transparent filter-options">
            </label>
        {% endif %}
    </div>
</div>
