{% load jalali_tags %}
{% load function %}
{% load humanize %}
{% load i18n %}
{% load static %}

<div class="w-100">
    <h2 class="fs-17 text-center mb-3 fw-bolder">{% trans 'مشخصات زیر را به دقت بخوانید و تایید کنید.' %}</h2>

    <ul class="display-flex justify-content-evenly flex-wrap p-0">
        <div class="w-100 m-auto display-flex _summery_step_1 my-2 bg-light p-3 border-radius-15 justify-content-evenly">
            <div class="w-25 text-center">
                <label class="text-black fs-16">{{ info|diffDays }}</label>
            </div>
            <div class="w-25 text-center">
                <label class="fs-15">{% trans 'ورود: ' %} {{ info.check_in|to_jalali:"%d-%m-%Y" }} </label>
            </div>
            <div class="w-25 text-center">
                <label class="fs-15">{% trans 'خروج: ' %} {{ info.check_out|to_jalali:"%d-%m-%Y" }}</label>
            </div>
            <div class="w-25 text-center">
                <label class="text-black fs-16">{{ info.hotel.name }}</label>
            </div>
        </div>
        {% for detail in info.cart_detail.all %}
            <div class="w-100 flex-wrap m-auto display-flex p-3 border-radius-15 justify-content-evenly">
                <div class="w-100 m-auto my-3 display-flex bg-light _summery_step_1 p-3 border-radius-15 justify-content-evenly">
                    <div class="w-100 m-auto display-flex _summery_step_details justify-content-evenly">
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'نام اتاق: ' %}</label>
                            <label class="fs-15 text-black w-100">{{ detail.room.title }}</label>
                        </div>
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'تعداد درخواستی: ' %}</label>
                            <label class="fs-15 text-black w-100">{{ detail.quantity }} {% trans 'تعداد' %} </label>
                        </div>
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'قیمت: ' %}</label>
                            <label class="fs-15 text-black w-100">
                                {% if detail.room.reduction > 0 %}
                                    <label class="display-flex flex-wrap justify-content-center">
                                        <i style="text-decoration: line-through" class="text-danger d-block w-100">{{ detail.room.price_bef|floatformat:"0"|intcomma:False }} </i>
                                        <span>{{ detail.room.price|floatformat:"0"|intcomma:False }} <span class="fs-13">{% trans 'تومان' %}</span> </span>
                                    </label>
                                {% else %}
                                    <span> {{ detail.room.price|floatformat:"0"|intcomma:False }} <span class="fs-13">{% trans 'تومان' %}</span> </span>
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="w-100 m-auto display-flex _summery_step_details justify-content-evenly">
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'نفر اضافه: ' %}</label>
                            <label class="fs-15 text-black w-100">
                                {% if  detail.extra_person_quantity > 0 %}
                                    <label class="w-100 display-flex flex-wrap">
                                        <span class="w-100 text-center">{% trans 'نیاز دارم' %}</span>
                                        <span class="w-100 text-center">{{ info.hotel.extra_person_rate.rate|floatformat:"0"|intcomma:False }}*{{ detail.extra_person_quantity }} <span class="fs-13">{% trans 'تومان' %}</span></span>
                                    </label>
                                {% else %}
                                    {% trans 'نیاز ندارم' %}
                                {% endif %}
                            </label>
                        </div>
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'ورود زود هنگام: ' %}</label>
                            <label class="fs-15 text-black w-100">
                                {% if  detail.check_in_flag > 0 %}
                                    <label class="w-100 display-flex flex-wrap">
                                        <span class="w-100 text-center text-muted">{% trans 'نیاز دارم' %}</span>
                                        <span class="w-100 text-center">{{ info.hotel.check_in_out_rate.rate|floatformat:"0"|intcomma:False }} <span class="fs-13">{% trans 'تومان' %}</span> </span>
                                    </label>
                                {% else %}
                                    {% trans 'نیاز ندارم' %}
                                {% endif %}
                            </label>
                        </div>
                        <div class="w-25 text-center flex-wrap display-flex">
                            <label class="fs-13 w-100 text-muted">{% trans 'خروج زود هنگام: ' %}</label>
                            <label class="fs-15 text-black w-100">
                                {% if  detail.check_out_flag > 0 %}
                                    <label class="w-100 display-flex flex-wrap">
                                        <span class="w-100 text-center">{% trans 'نیاز دارم' %}</span>
                                        <span class="w-100 text-center">{{ info.hotel.check_in_out_rate.rate|floatformat:"0"|intcomma:False }} <span class="fs-13">{% trans 'تومان' %}</span> </span>
                                    </label>
                                {% else %}
                                    {% trans 'نیاز ندارم' %}
                                {% endif %}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>

</div>
<form action="{% url 'placeOrders' ref cart.pk %}" method="post" id="placeOrders"
      class="d-flex pb-3 flex-wrap border-top py-3 w-100" style="">
    {% csrf_token %}
    <div class="bg-white px-1 pt-3  w-100 m-auto " style=" ">
        <div class="inputContainer my-2 d-flex flex-wrap w-100">
            <label class="fs-13 mb-2 text-center w-100">قابل پرداخت</label>
            <span class="fs-18 bg-primary text-white w-100 py-2 px-3 border-radius-25 text-center">{{ info.total_amount|floatformat:"0"|intcomma:False }} <span class="fs-13 text-white">{% trans 'تومان' %}</span> </span>
        </div>
    </div>
    {% for field in form_pay %}
        <label for="{{ field.auto_id }}" class="p-4">
            {{ field }}
            <span class="fs-13">{{ field.label }}</span>
        </label>
    {% endfor %}
    <div class="w-100 my-3 finalAmountContainer">
        <div class="display-flex align-items-center flex-wrap  justify-content-center p-3   "
             style="box-shadow: 0px 4px 3px #0d6efd;border-radius: 50px;">
            <button type="submit" class="btn btn-primary float-left w-50">{% trans 'رزرو هتل' %}</button>
        </div>
    </div>
</form>

