{% load jalali_tags %}
{% load function %}
{% load humanize %}
{% load i18n %}
{% load static %}
<div class="w-100 my-2 bg-white py-2">
    <p class="fs-25 text-center p-1">{% trans 'خلاصه رزرو شما به شرح زیر می باشد.' %}</p>
</div>
<div class="w-100 my-2 bg-white py-2">
    <p class="fs-17 text-center p-1">{{ cart.hotel.name }}</p>
</div>

<div class="display-flex bg-white p-4 justify-content-evenly  w-100 m-auto "
     style="border-top: 1px solid #aaa;border-bottom: 1px solid #aaa">
    <div class="inputContainer d-flex flex-wrap justify-content-center w-50">
        <label class="w-100 fs-17 text-center">{% trans 'ورود' %}</label>
        <span class="fs-15 text-muted">{{ check_in|to_jalali:"%Y-%m-%d" }}</span>
    </div>
    <div class="inputContainer d-flex flex-wrap justify-content-center w-50 ">
        <label class="fs-17 w-100 text-center">{% trans 'خروج' %}</label>
        <span class="fs-15 text-muted">{{ check_out|to_jalali:"%Y-%m-%d" }}</span>
    </div>
    <div class="inputContainer d-flex flex-wrap justify-content-center w-50 ">
        <label class="fs-17 w-100 text-center">{% trans 'مدت اقامت' %}</label>
        <span class="fs-15 text-muted">{{ cart|diffDays }}</span>
    </div>
</div>
<div class="display-flex bg-white p-4 justify-content-evenly  w-100 m-auto ">
    <div class="w-100 d-flex text-center">

    </div>
</div>
<form method="POST" id="addToCartDetails" {% if user.is_authenticated %} data-auth="1" {% endif %} action="{% url 'addToCartDetails' ref cart.pk %}" class="w-100 mb-5 pb-5">
    {% csrf_token %}
    <div class="w-100 _reservation_user_form_container">
        {% if not user.is_authenticated %}
            {% include 'cart/_reservation_user_form.html' with form=form ref=ref %}
        {% endif %}
    </div>
    <p class="alert alert-danger fs-13 d-none errMsg"></p>
    <div class="roomsListHotel">
        <div class="p-0 d-flex flex-wrap m-0">
            {% for r in cart.cart_detail.all %}

                <div class="w-100 my-3 roomListContainer border-bottom pb-1 d-flex flex-wrap"
                     style="min-height: 150px">
                    <div class="imgCover roomListItem overflow-hidden  border-radius-5 position-relative w-25">
                        {% if r.room.room_images_set.all.count > 0 %}
                            <span data-get="r" data-ref="{{ r.room.pk }}"
                                  class="icon-images btnShowImages fs-25  position-absolute text-white "
                                  style="top: 10px;right: 10px"></span>
                        {% endif %}
                        <img class="w-100 h-100" style="object-fit: cover" src="/media/{{ r.room.default_cover.file }}">
                    </div>
                    <div class="hotel-info roomListItem py-1 px-2 w-50" style="border-left: 1px solid #eee">
                        <label class="fs-17 my-1">{{ r.room.title }}</label>
                        <div class="facilityHotels flex-wrap border-bottom py-1 mt-1 d-flex">
                            <label style="min-width: 50px;"
                                   class="border-radius-5 d-flex align-items-center d-flex bg-muted m-1 p-3">
                                <span class="icon-man-woman px-1 fs-18"></span>
                                <span class="w-100 d-block px-1 text-center fs-13"> {{ r.room.capacity }} {% trans 'نفره' %} </span>
                            </label>
                            <label style="min-width: 50px;"
                                   class="border-radius-5 d-flex align-items-center d-flex bg-muted m-1 p-3">
                                <span class="icon-filter px-1 icon-users fs-18"></span>
                                <span class="w-100 d-block px-1 text-center fs-13">{{ r.room.extra_person }} {% trans 'افراد اضافه' %} </span>
                            </label>
                        </div>
                        <div class="facilityHotels flex-wrap py-1 mt-1 d-flex">
                            {% for f in r.room.room_facility_set.all %}
                                <label style="min-width: 50px;" class="border-radius-5 bg-muted m-1 p-1">
                                    <span class="w-100 d-block text-center fs-12">{{ f.title }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="noteHotels mt-3 d-flex">
                            <p class="fs-12 text-muted" style="line-height: 2">{{ r.room.note }}</p>
                        </div>
                    </div>

                    <div data-price="{{ r.room.price }}"
                         class="hotelPricing roomListItem d-flex w-25 flex-wrap align-items-center position-relative align-content-between justify-content-center" style="width: 195px">
                        {% if r.room.reduction > 0 %}
                            <div class="position-relative align-items-center d-flex justify-content-center w-100" style="height: 55px">
                                <div style="width: 55px;height: 55px;left: 0;top: 1px" class="position-absolute">
                                    {% if r.room.reduction_type == 1 %}
                                        <span class="w-100 border-radius-5 d-flex bg-black" style="height: 5px;"></span>
                                        <div class="d-flex align-items-center justify-content-center mx-auto text-white fs-20 m-auto" style="height: 50px;background: #ff5b6b;width: 95%;left: 0;right: 0;top: 5px">
                                            {{ r.room.reduction|floatformat:"0"|intcomma:False }}%
                                        </div>
                                    {% else %}
                                        <span style="color: #ff5b6b;text-decoration: line-through">{{ r.room.reduction|floatformat:"0"|intcomma:False }}  </span>
                                    {% endif %}
                                </div>
                                <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                                    <p class="fs-18 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                                        <span style="text-decoration: line-through;color: #ff5b6b" class="w-100 ">{{ r.room.price_bef|floatformat:"0"|intcomma:False }}</span>&nbsp;
                                    </p>
                                </label>
                            </div>
                        {% endif %}
                        <div class="w-100 flex-wrap d-flex justify-content-center">
                        </div>
                        <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                            <p class="fs-25 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                                <span class="_price">{{ r.room.price|floatformat:"0"|intcomma:False }}</span>&nbsp;
                                <span class="text-muted fs-12">{% trans 'تومان' %}</span>
                            </p>
                            <span class="w-100 text-center text-muted my-2 fs-14">{% trans 'هر شب' %}</span>
                        </label>
                        {% if cart.hotel.check_in_out_rate.rate > 0 %}
                            <div class="w-100  d-flex text-center">
                                <label for="enterId"
                                       class="inputContainer align-items-center d-flex flex-wrap justify-content-center w-50">
                                    <span data-price="{{ cart.hotel.check_in_out_rate.rate }}"
                                          class="icon-checkbox-unchecked text-primary inp_checkin"></span>
                                    <input type="checkbox" value="0" name="check_in_flag" checked class=""
                                           style="width: 0;height: 0;visibility: hidden">
                                    <label>
                                        <label class="w-100 fs-13">{% trans 'ورود زود هنگام' %}</label>
                                        <span class="fs-13 text-muted">{{ cart.hotel.check_in_out_rate.rate|floatformat:"0"|intcomma:False }} تومان </span>
                                    </label>
                                </label>
                                <label for="exitId"
                                       class="inputContainer align-items-center d-flex flex-wrap justify-content-center w-50">
                                    <span data-price="{{ cart.hotel.check_in_out_rate.rate }}"
                                          class="icon-checkbox-unchecked text-primary inp_checkout"></span>
                                    <input type="checkbox" value="0" name="check_out_flag" checked
                                           style="width: 0;height: 0;visibility: hidden">
                                    <label>
                                        <label class="w-100 fs-13">{% trans 'خروج دیر هنگام' %}</label>
                                        <span class="fs-13 text-muted">{{ cart.hotel.check_in_out_rate.rate|floatformat:"0"|intcomma:False }} تومان </span>
                                    </label>
                                </label>
                            </div>
                        {% endif %}

                        {% if cart.hotel.extra_person_rate.rate > 0 and r.room.extra_person > 0 %}
                            <div class="w-100 text-center">
                                <span class="fs-13">{% trans 'تعداد نفر اضافه: ' %}</span>
                                <select autocomplete="off" name="extra_person_flag" data-person="0"
                                        data-price="{{ cart.hotel.extra_person_rate.rate }}"
                                        class="form-select _extra_person_opt w-75 mx-auto text-center form-select-sm">
                                    <option value="0">{% trans 'نیاز ندارم' %}</option>
                                    {% with ''|center:r.room.extra_person as range %}
                                        {% for i in range %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                        {% endfor %}
                                    {% endwith %}
                                </select>
                            </div>
                            {% else %}
                            <input type="hidden" name="extra_person_flag" value="0">
                        {% endif %}
                    </div>
                {% with ''|center:r.quantity as range %}
                    {% for i in range %}
                        <div class="w-100" style="">
                        <h6 class="text-right fs-15 pt-3 pr-3">{% trans 'مشخصات مسافر:' %}</h6>
                        <div class="d-flex pb-3 flex-wrap _guest_container_form justify-content-between w-100" style="">
                            {% for field in form_1 %}
                                {% if field.auto_id == 'id_fullname' %}
                                    <div class="mx-2 display-flex" style="width: 30%">
                                        <label style="width: 75px" class=" fs-13 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        <input type="text" name="fullname[{{ r.room.pk }}]" class=" fs-14 py-1 w-100 id_fullname inpReservation_" placeholder="{{ field.label }}" maxlength="256" required="" id="">
                                    </div>
                                {% elif field.auto_id == 'id_mobile' %}
                                    <div class="mx-2 display-flex" style="width: 30%">
                                        <label style="width: 75px" class=" fs-13 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        <input type="number" name="mobile[{{ r.room.pk }}]" class=" fs-14 py-1 w-100 id_mobile inpReservation_" placeholder="{{ field.label }}" maxlength="256" required="" id="">
                                    </div>
                                {% elif field.auto_id == 'id_nationality' %}
                                    <div class="mx-2 display-flex" style="width: 30%">
                                        <label style="width: 75px" class=" fs-13 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        <select name="nationality[{{ r.room.pk }}]" style="border: 1px solid #e2e2ea " class="w-100 bg-white id_nationality inpReservation_" required>
                                            <option value="1">{% trans 'ایرانی' %}</option>
                                            <option value="2">{% trans 'غیر ایرانی' %}</option>
                                        </select>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                {% endwith %}
                </div>
            {% endfor %}
        </div>
        <div class="__show_errs">

        </div>
        <div class="w-100 my-3 finalAmountContainer">
            <div class="display-flex align-items-center flex-wrap  justify-content-center p-3   "
                 style="box-shadow: 0px 4px 3px #0d6efd;border-radius: 50px;">
                <button type="submit" class="btn btn-primary float-left w-25">{% trans 'مرحله بعدی' %}</button>
            </div>
        </div>
    </div>
</form>