<div class="imgContainer position-fixed w-100 top-0 bg-white" style="height: 100vh;top: 0;z-index: 999">
    <span class="btnHideImages p-4 position-absolute fs-20 icon-cross cursor-pointer"
          style="color: red;z-index: 9;left: 13px; top: 15px"></span>
    <div id="" class="d-flex flex-wrap w-100 swiper-container" style="height: 100vh;">
        <div class="swiper-wrapper" style="height: 80vh;">
            {% for i in images %}
                <div class="overflow-hidden swiper-slide d-flex align-items-center justify-content-center" style="max-width: 100%;max-height: 100%">
                    <img alt="{{ i.title }}" title="{{ i.title }}" src="/media/{{ i.file }}" style="max-width: 100%; max-height: 100%; display: flex;align-items: center;justify-content: center;">
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination w-100 d-flex justify-content-center position-relative"></div>
        <div class="swiper-button-prev" style="top: 40% !important;"></div>
        <div class="swiper-button-next" style="top: 40% !important;"></div>
    </div>

    <script>
        var mySwiper;
        mySwiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })

    </script>

    <!-- end of hero slider -->
</div>