{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block main %}
<div id="_main" class="w-100 bg-light m-auto">
    <div id="customersMain" class=" w-100 overflow-hidden">
        <div class="row justify-content-evenly">
            <div class="col-xl-3 col-md-3">
                <div class="customer-category-content bg-white my-2 p-2 border-radius-5">
                    <h6 class="mt-2 fs-13 text-center">{% trans 'شما با این شماره تلفن وارد شده اید' %}</h6>
                    <ul class="w-100 px-4 mb-0 flex-wrap display-flex" style="line-height: 3">
                        <li class="w-100 cursor-pointer position-relative justify-content-center display-flex align-items-center fs-13">
                            <label class="mx-5 fw-bolder fs-15">{{ request.user.username }}</label>
                        </li>
                    </ul>
                </div>
                <div class="customer-category-content bg-white my-2 p-2 border-radius-5">
                    <h6 class="fw-bolder mt-2">
                        <label class="icon-reply"></label>
                        <span>{% trans 'گزینه ها' %}</span>
                    </h6>
                    <ul class="w-100 px-4 mb-0 flex-wrap display-flex" style="line-height: 3">
                        <li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                            <label class="icon-user position-absolute" style="right: 5px"></label>
                            <a href="{% url 'personality' %}" class="px-4">مشخصات</a>
                        </li>
                        <li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                            <label class="icon-checkmark position-absolute" style="right: 5px"></label>
                            <a href="{% url 'panelOrders' %}" class="px-4">سفارشات من</a>
                        </li>
                        <li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                            <label class="icon-gift position-absolute" style="right: 5px"></label>
                            <a href="{% url 'voucher' %}" class="px-4">تخفیف های من</a>
                        </li>
                        {% comment %}<li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                            <label class="icon-rocket position-absolute" style="right: 5px"></label>
                            <a href="{% url 'quickReserve' %}" class="px-4">رزرو سریع هتل</a>
                        </li>{% endcomment %}
                        <li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                            <label class="icon-exit position-absolute" style="right: 5px"></label>
                            <a href="{% url 'logout' %}" class="px-4">خروج</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <div class="customer-category-content bg-white my-2 p-2 border-radius-5">
                    {% block customer_main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% include '_partial/footer.html' %}
