{% extends '_partial/modal/register/base.html' %}
{% load i18n %}
{% block main_modal %}
    <form method="POST" id="registerNewCustomers" action="{% url 'registerNewUser' %}">
        {% csrf_token %}
        <p class="fw-bolder mb-2 fs-20">{% trans 'ثبت نام سامانه' %}</p>
        <p class="alert alert-danger fs-13 d-none errMsg"></p>
        <div class="input-group w-75 m-auto" style="">
            {% for field in form %}
                <label class=" fs-15 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <label class=" fs-15 p-2" for="id_re_password">{% trans 'تکرار پسورد' %}</label>
            <input type="password" name="re_password" class=" border-radius-5 fw-bolder dir-ltr align-left w-100" placeholder="{% trans 'تکرار پسورد' %}" maxlength="128" required="" id="id_re_password">
        </div>
        <button style=" padding: 8px; margin: 10px;" type="submit" class="btn mt-3 fs-14 p-2 w-75 btn-primary">{% trans 'تایید و ادامه' %}</button>
        <br><br>
        <div class="w-75 m-auto d-flex align-items-center justify-content-center">
            <a class="btnRegisterLoginPasswd fs-15 w-50" href="#">{% trans 'ورود به سامانه' %}</a>
        </div>
    </form>
{% endblock %}