{% extends 'base/base.html' %}
{% load jalali_tags function humanize i18n static %}
{% block title %} {{ meta.title }} {% endblock %}
{% block meta_desc %} {{ meta.description }} {% endblock %}
{% block meta_keywords %} {{ meta.keywords }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "stylesheet/swiper.min.css" %}" type="text/css">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static "js/swiper.min.js" %}"></script>
{% endblock %}
{% block main %}
    <div id="_cartContainer" class="w-100 overflow-hidden">
        <div class="timeline my-5 position-relative w-75 mx-auto">
            <span class="horizontal-line"></span>
            <ul class="timeline w-100 p-0 m-0 display-flex justify-content-center">
                <li class="{% if step.step >= 1 %}active-tl{% endif %}">
                    <span class="_before"></span>
                    <span class="fs-14">{% trans 'انتخاب هتل' %}</span>
                    <span class="_after"></span>
                </li>
                <li class="_step_2 {% if step.step == 1 %}pending-tl{% elif  step.step >= 2 %}active-tl{% endif %}">
                    <span class="_before"></span>
                    <span class="fs-14">{% trans 'وارد کردن مشخصات مسافر' %}</span>
                    <span class="_after"></span>
                </li>
                <li class="_step_3 {% if step.step == 2 %}pending-tl{% elif  step.step >= 3 %}active-tl{% endif %}">
                    <span class="_before"></span>
                    <span class="fs-14">{% trans 'صحت سنجی' %}</span>
                    <span class="_after"></span>
                </li>
                <li class="_step_4 {% if step.step >= 3 %}active-tl{% endif %}">
                    <span class="_before"></span>
                    <span class="fs-14">{% trans 'ارسال درخواست' %}</span>
                    <span class="_after"></span>
                </li>
            </ul>
        </div>
        <div class="w-75 m-auto _info_container">

            <div class="w-100 m-auto my-2 bg-white py-2 _reservation_form_main">
            {% if step.step == 1 %}
                {% include 'cart/_summery.html' with room=room ref=ref form=form %}
            {% elif step.step == 2 %}
                {% include 'cart/_reservation_payment_form.html' with info=cart form_pay=form_pay ref=ref cart=cart %}
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}