{% extends 'base/base.html' %}
{% load function %}
{% load i18n %}
{% load static %}
{% block main %}
    <div id="_confirmation" class="w-100 bg-white">
        <div class="d-flex flex-wrap justify-content-center m-auto p-5 align-items-center _confirmation_container">
            <div class="w-100 alert alert-success mb-2 d-flex justify-content-center align-items-center">
                <span class="icon-checkmark2 text-success" style="font-size: 35px"></span>&nbsp;&nbsp;
                <h4 class="mb-0 text-success">{% trans 'درخواست شما موفقیت آمیز بود!' %}</h4>
            </div>
            <div class="border my-4 p-3 w-100">
                <label class="w-100 my-3 d-flex justify-content-center align-items-center">
                    <span class="icon-info text-success text-warning"></span>&nbsp;&nbsp;
                    <p class="mb-0">{% trans 'تیم ما اطلاعات رزرو و جزییات پرداختی و را بررسی و به شما اطلاع خواهند داد.' %}</p>
                </label>
            </div>
            <div class="border my-2 p-3 d-flex align-items-center justify-content-center w-100">
                <div class=" d-flex justify-content-center" style="width: 10%">
                    <span class="icon-phone text-primary" style="font-size: 45px"></span>
                </div>
                <div class="w-50 flex-wrap d-flex _support_">
                    <label class="w-100 my-3 d-flex justify-content-center align-items-center">
                        <p class="mb-0  text-muted">{% trans 'شماره تماس تیم پشتیبانی هتل تیک:' %}</p>
                    </label>
                    <label class="w-100  my-2 d-flex justify-content-center align-items-center">
                        <h6 class=" text-muted">{{ phone }}</h6>
                    </label>
                </div>
            </div>
            <div class="w-100 my-4 d-flex justify-content-around align-items-center">
                <a class="mb-0 btn-link fs-15 btn" href="{% url 'panelOrders' %}">{% trans 'ورود به سوابق سفارش' %}</a>
            </div>
        </div>
    </div>
{% endblock %}