{% extends 'base/base.html' %}
{% load function %}
{% block title %} {{ meta.title }} {% endblock %}
{% block meta_desc %} {{ meta.description }} {% endblock %}
{% block meta_keywords %} {{ meta.keywords }} {% endblock %}

{% load i18n %}
{% load static %}

{% block main %}
    <div id="_rules">
        <div id="policy">
            <div class="policy-title commonCol">
                <p style="overflow: hidden">
                    <span class="span-margin-left text-center d-block float-left ml-3 fs20">قوانین<br> و <br>مقررات</span>
                </p>
            </div>
            <div class="policy-description commonCol">
                <p>
                    سیاست‏‌های رعایت حریم شخصی

                    هتل تیک به اطلاعات خصوصی اشخاصى که از خدمات سایت استفاده می‏‌کنند، احترام گذاشته و از آن محافظت
                    می‏‌کند.
                    هتل تیک متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای
                    هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سایت را توسعه دهد. در واقع با استفاده از سایت هتل تیک ،
                    شما رضایت خود را از این سیاست نشان می‏‌دهید.
                    همه مطالب در دسترس از طریق هر یک از خدمات هتل تیک ، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر،
                    ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط هتل تیک جزئی از دارای
                    های معنوی ما محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار انتشارات جنگل
                    است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای ما محفوظ می‏‌دارد. علاوه بر این،
                    اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط هتل تیک و علائم تجاری ثبت
                    شده نیز در انحصار هتل تیک است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد. کاربران مجاز به
                    بهره‌‏برداری و استفاده از لیست محصولات، مشخصات فنی، قیمت و هر گونه استفاده از مشتقات وب‏‌سایت
                    انتشارات جنگل و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه
                    استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج نیستند و
                    کلیه این حقوق به صراحت برای هتل تیک محفوظ است.
                    در صورت استفاده از هر یک از خدمات هتل تیک ، کاربران مسئول حفظ محرمانه بودن حساب و رمز عبور خود هستند
                    و تمامی مسئولیت فعالیت‌‏هایی که تحت حساب کاربری و یا رمز ورود انجام می‏‌پذیرد به عهده کاربران است

                </p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.span-margin-left').addClass('active-p-s-l').removeClass('span-margin-left');
        });

    </script>
{% endblock %}