{% extends 'customer/base/base.html' %}
{% load humanize %}
{% load func_customer %}
{% load jalali_tags %}
{% load i18n %}
{% load static %}
{% block customer_main %}
<div class="d-flex justify-content-between flex-wrap">
    <div class="headerOrders w-100">
        <ul class="py-3 bg-muted w-100 mb-2 p-0 d-flex justify-content-between">
            <li style="width: 10%" class="fs-13 text-center">#</li>
            <li style="width: 25%" class="fs-13 text-center">نام هتل</li>
            <li style="width: 10%" class="fs-13 text-center">موافقت با قوانین</li>
            <li style="width: 10%" class="fs-13 text-center">وضعیت</li>
            <li style="width: 10%" class="fs-13 text-center">فاکتور</li>
            <li style="width: 10%" class="fs-13 text-center">تعدا اتاق ها</li>
            <li style="width: 25%" class="fs-13 text-center">تاریخ ایجاد</li>
        </ul>
        <ul class="p-0 cursor-pointer w-100 align-items-center my-2 d-flex justify-content-between">
            <li style="width: 10%" class="text-center fs-13">{{ order.reference }}</li>
            <li style="width: 25%" class="text-center fs-13">{{ order.hotel.name }}</li>
            <li style="width: 10%" class="text-center fs-13">{% if order.agree_rule %}{% trans 'دارم' %}{% else %}{% trans 'ندارم' %}{% endif %}</li>
            <li style="width: 10%" class="text-center fs-13">{{ order.current_state|currentState }}</li>
            <li style="width: 10%" class="text-center fs-13">{% if order.has_invoice %}{% trans 'دارم' %}{% else %}{% trans 'ندارم' %}{% endif %}</li>
            <li style="width: 10%" class="text-center fs-13">{{ order.total_room }}</li>
            <li style="width: 25%" class="text-center fs-13">{{ order.date_add|to_jalali:"%Y-%m-%d" }}</li>
        </ul>
        <ul class="p-0 flex-wrap cursor-pointer w-75 mx-auto align-items-center my-4 border-radius-5 d-flex justify-content-between">
            <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                <label class="fs-13 fw-bold" style="width: 150px">{% trans 'مبلغ پرداخت شده:' %}</label>
                <label class="fs-14" style="width: 150px">{{ detail.total_paid|floatformat:"0"|intcomma:False|default:'بدون پرداختی' }}</label>
            </li>
            <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'قیمت بدون تخفیف:' %}</label>
                <label class="fs-14" style="width: 150px">{{ order.total_amount_dis_excl|floatformat:"0"|intcomma:False }} {% trans 'تومان' %}</label>
            </li>
            <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'قیمت با تخفیف:' %}</label>
                <label class="fs-14" style="width: 150px">{{ order.total_amount_dis_incl|floatformat:"0"|intcomma:False }} {% trans 'تومان' %}</label>
            </li>
        </ul>
            {% for detail in order.order_detail.all %}
                <ul style="background: #ffffe4;" class="p-0 flex-wrap cursor-pointer w-75 mx-auto align-items-center my-4 border-radius-5 d-flex justify-content-between">
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'نام اتاق:' %}</label>
                        <label class="fs-14" style="width: 150px">{{ detail.name }}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'تعداد:' %}</label>
                        <label class="fs-14" style="width: 150px">{{ detail.quantity }}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'ورود زود هنگام:' %}</label>
                        <label class="fs-14" style="width: 150px">{% if detail.check_out_flag %}{% trans 'دارم' %}{% else %}{% trans 'ندارم' %}{% endif %}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'خروج دیر هنگام:' %}</label>
                        <label class="fs-14" style="width: 150px">{% if detail.check_out_flag %}{% trans 'دارم' %}{% else %}{% trans 'ندارم' %}{% endif %}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'نفر اضافه:' %}</label>
                        <label class="fs-14" style="width: 150px">{% if detail.extra_person_quantity <= 0 %}{% trans 'ندارم' %}{% else %}{{ detail.extra_person_quantity }}{% endif %}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'قیمت بدون تخفیف:' %}</label>
                        <label class="fs-14" style="width: 150px">{{ detail.total_price_dis_excl|floatformat:"0"|intcomma:False }} {% trans 'تومان' %}</label>
                    </li>
                    <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
                        <label class="fs-13 fw-bold" style="width: 150px">{% trans 'قیمت با تخفیف:' %}</label>
                        <label class="fs-14" style="width: 150px">{{ detail.total_price_dis_incl|floatformat:"0"|intcomma:False }} {% trans 'تومان' %}</label>
                    </li>
                </ul>
            {% endfor %}
    </div>
</div>
{% endblock %}