{% extends 'customer/base/base.html' %}
{% load jalali_tags %}
{% load i18n %}
{% load static %}
{% block customer_main %}
<div class="container d-flex justify-content-between flex-wrap">
{% if vouchers.count %}
    {% for i in vouchers %}
        <div class="coupon-card m-2 position-relative">
            <h6 class="fs-13">{% trans 'کد تخفیف شما مشتری عزیز' %}</h6>
            <div class="coupon-row dir-ltr">
                <span class="text-white cpnCode fs-14">{{ i.code }}</span>
                <span class="cpnBtn fs-13">{% trans 'کپی' %}</span>
            </div>
            <label class="d-flex align-items-center mb-3 justify-content-around">
                <p class="text-white fs-13">  {% trans 'تعداد:' %} {{ i.quantity }}</p>
                <p class="text-white fs-13" style="position: absolute;left: 5px;bottom: 5px">  {% trans 'تاریخ انقضاء:' %} {{ i.end_date|to_jalali:"%d-%m-%Y" }}</p>
                <p class="text-white fs-13">{% if i.reduction_type == 1 %} {% trans 'درصد:' %} {% else %} {% trans 'مبلغ:' %} {% endif %} {{ i.reduction }}</p>
            </label>
            <div class="circle1"></div>
            <div class="circle2"></div>
        </div>
    {% endfor %}
</div>
    {% else %}
        <div class="coupon-card w-100 m-2">
            <h6 class="fs-13 mb-0 py-3 text-white">{% trans 'کد تخفیفی در این قسمت برای شما وجود ندارد!' %}</h6>
            <p class="text-white fs-13"></p>
            <div class="circle1"></div>
            <div class="circle2"></div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.cpnBtn').click(function () {
                let thiss = $(this)
                navigator.clipboard.writeText(thiss.prev().html()).then(function () {
                    thiss.text('کپی شد')
                    setTimeout(function () {
                        thiss.text('کپی')
                    },1000)
                }, function () {
                    console.log('Failure to copy. Check permissions for clipboard')
                });
            })

        })
    </script>
{% endblock %}