{% load i18n %}
{% load static %}
<section id="_homeWish" class="my-3 p-3 w-100 bg-customize"  >
    <p class="text-white mb-3 fw-bolder">هتل های محبوب</p>
    <div class="swiper _homeOnWish">
        <div class="swiper-wrapper">
             {% for i in "x"|rjust:"10" %}
                        <div class="swiper-slide">
                <div class="cart-container">
                    <div class="cart-content">
                        <div class="img-container-cart">
                            <div class="imgContainer">
                                <img src="{% static 'img/woman-walking-along-beach.jpg' %}" title="" alt="">
                            </div>
                        </div>
                        <a class="my-1 text-center w-100 fs-14">هتل آزادی تهران</a>
                        <div class="cart-footer my-2 w-100 display-flex justify-content-between">
                            <div class="display-flex align-items-center">
                                <span class="icon-location"> </span>
                                 <i class="fs-15">تهران</i>
                            </div>
                            <div class="display-flex align-items-center">
                                <span class="icon-star-empty text-warning"></span>
                                <span class="icon-star-full text-warning"></span>
                                <span class="icon-star-full text-warning"></span>
                                <span class="icon-star-full text-warning"></span>
                                <span class="icon-star-full text-warning"></span>
                            </div>
                        </div>
                        <span class="my-1 text-center w-100 fs-14 fw-bolder">5,000,000 تومان برای هر شب</span>
                        <p style="text-align: justify" class="my-1 float-right w-100 fs-14 text-muted">توضیحات تکمیلی به صورت خلاتوضیحات تکمیلی به صورت خلاصه</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>