{% load i18n %}
{% load static %}
<section id="_homeCity" class="my-3 p-3 w-100">
    <p class="fw-bolder mb-3 fw-bolder">شهر های بازدید</p>
    <div class="swiper _homeCity border-radius-15 py-3" style="height: 300px;width: 90%;">
        <div class="swiper-wrapper mb-2">
            {% for i in "x"|rjust:"10" %}
                <div class="swiper-slide border-radius-15" style="background: url({% static 'img/paris-rooftop-view-skyline-eiffel-tower-france.jpg' %}) no-repeat;background-size: 100%">
                    <a class="squareItem display-flex align-items-center justify-content-center w-100 h-100">
                        <span class="fs-15 border-radius-5 px-3 py-1 bg-white">شیراز</span>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>