{% load humanize %}
{% load i18n %}
{% load static %}
<section id="_homeOnSale" class="my-3 p-3 w-100">
    <p class="mb-3">هتل های تخفیف دار</p>
    <div class="swiper p-2 _homeOnSaleItems w-100">
        <div class="swiper-wrapper">
            {% for h in hotel %}
                <div class="swiper-slide border-radius-15" style="box-shadow: -2px 2px 2px #aaa;height: 375px">
                    <div class="cart-container">
                        <div class="cart-content">
                            <a href="{% url 'hotelPage' h.reference h.name.split|join:"_" %}" class="img-container-cart d-block">
                                <div class="container-favIcon bg-danger">
                                    {% if h.reduction > 0 %}
                                        {% if h.reduction_type == 1 %}
                                            <span class="fs-13 text-white">{{ h.reduction|floatformat:"0"|intcomma }}%</span>
                                        {% else %}
                                            <span class="fs-13 text-white">{{ h.reduction|floatformat:"0"|intcomma }}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="imgContainer" style="height:150px">
                                    <img src="/media/{{ h.default_cover.file }}" title="" alt="">
                                </div>
                            </a>
                            <div class="mt-2 text-center align-items-center d-flex justify-content-center w-100 fs-14">
                                <div style="left: 5px" class="display-flex align-items-center position-absolute">
                                    <span class="fs-19" style="height: 15px;line-height: 1">{{ h.stars }}</span>
                                    <span class="icon-star-full fs-15 text-warning"></span>
                                </div>
                                <a href="{% url 'hotelPage' h.reference h.name.split|join:"_" %}">{{ h.name }}</a>
                            </div>
                            <div class="cart-footer my-2 w-100 flex-wrap display-flex justify-content-between">
                                <label class="d-flex justify-content-evenly w-100">
                                    {% if h.reduction > 0 %}
                                        <span style="color: red;text-decoration: line-through">{{ h.price_bef|floatformat:"0"|intcomma }}</span>
                                    {% endif %}
                                    <span>{{ h.price|floatformat:"0"|intcomma }}</span>
                                </label>
                                <span class="my-1 text-center w-100 fs-14 fw-bolder">{% trans ' تومان برای هر شب' %}</span>
                            </div>
                            <p style="text-align: justify" class="my-1 float-right w-100 fs-14 text-muted">{{ h.short_desc|truncatewords:15 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        <div class="swiper-pagination"></div>#}
    </div>
</section>