{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" href="{% static "stylesheet/base.css" %}">
    <link rel="stylesheet" href="{% static "stylesheet/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}
{% block header %}
    <div class="w-100 d-flex align-items-center p-4 justify-content-center">
        <img src="{% static 'img/logo.png' %}" width="50%">
    </div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="alert-danger alert fs-13">
{% blocktranslate count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktranslate %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="alert-danger alert fs-13">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">

{% if user.is_authenticated %}
<p class="alert-danger alert">
{% blocktranslate trimmed %}
    You are authenticated as {{ username }}, but are not authorized to
    access this page. Would you like to login to a different account?
{% endblocktranslate %}
</p>
{% endif %}

<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row fs-14">
    {{ form.username.errors }}
      <label class="fs-15" for="{{ form.username.auto_id }}">نام کاربری</label>
     {{ form.username }}
  </div>
  <div class="form-row fs-14">
    {{ form.password.errors }}
      <label class="fs-15" for="{{ form.password.auto_id }}">پسورد</label>
      {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  <div class="w-100 submit-row">
      <button type="submit" class="w-100 btn btn-primary" style="font-family: Vazirmatn" value="">ورود</button>
  </div>
</form>

</div>
{% endblock %}