{% load jalali_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static "js/jquery-3.6.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/blog/_partial.js" %}"></script>
    {#    <script type="text/javascript" src="{% static "js/blog.js" %}"></script>#}
    <link rel="stylesheet" href="{% static "stylesheet/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "stylesheet/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "font/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "font/moon.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "stylesheet/_partial.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "stylesheet/blog/blog.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "stylesheet/blog/responsive-blog.css" %}" type="text/css">
</head>
<body>
{% include 'blog/_header.html' %}
<div id="_main" class="w-100 bg-light m-auto">
    <div id="blogsMain" class=" w-100 overflow-hidden">
        <div class="row justify-content-evenly">
            <div class="col-xl-3 col-md-11 mx-md-auto ">
                <div class="blog-category-content bg-white my-2 p-2 border-radius-5">
                    <h6 class="fw-bolder mt-2">
                        <label class="icon-reply"></label>
                        <span>{% trans 'دسته بندی ها' %}</span>
                    </h6>
                    <ul class="w-100 px-4 mb-0 flex-wrap display-flex" style="line-height: 3">
                        {% for c in category %}
                            <li class="w-100 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13">
                                <label class="icon-arrow-left2 position-absolute" style="right: 5px"></label>
                                <a href="{% url 'blogMainPage' c.pk %}" class="px-4">{{ c.title|truncatewords:3 }}</a>
                                <label class="bg-light display-flex align-items-center justify-content-center fw-bolder" style="border-radius: 50%;width: 30px;height: 30px">{{ c.count_blogs }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="blog-category-content bg-white my-2 p-2 border-radius-5">
                    <h6 class="fw-bolder mt-2">
                        <label class="icon-reply"></label>
                        <span>{% trans 'اخرین مطالب' %}</span>
                    </h6>
                    <ul class="w-100 px-1 mb-0 flex-wrap display-flex" style="line-height: 3">
                        {% for b in blogs_related %}
                            <li class="w-100 mt-2 cursor-pointer justify-content-between position-relative display-flex align-items-center fs-13"
                                style="height: 100px">
                                <label style="width: 75px;height: 75px">
                                    <img src="/media/{{ b.default_image__file|default:'media/logo-w-text.png' }}"
                                         height="100%" width="100%" style="border-radius: 50%">
                                </label>
                                <label class="display-flex flex-wrap" style="width: 200px">
                                    <a href="{% url 'blogPage' b.pk b.title.split|join:"_"|default:'no_subject'  %}" class="px-2 w-100">{{ b.title|truncatewords:3 }}</a>
                                    <i class="px-2 ">{{ b.date_upd|to_jalali:"%Y-%m-%d" }}</i>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-md-11 mx-md-auto ">
                <div class="blog-category-content bg-white my-2 p-2 border-radius-5">
                    {% block blog_main %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

</div>
{% include '_partial/footer.html' %}
<div id="_partial">
</div>
</body>
</html>