{% extends 'customer/base/base.html' %}
{% load i18n %}
{% load static %}
{% block customer_main %}
    <ul class="p-0 flex-wrap cursor-pointer w-75 mx-auto align-items-center my-4 border-radius-5 d-flex justify-content-between">
        <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
            <label class="fs-13 fw-bold" style="width: 150px">{% trans 'نام:' %}</label>
            <label class="fs-14" style="width: 150px">{{ request.user.first_name|default:'وارد نشده' }}</label>
        </li>
        <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
            <label class="fs-13 fw-bold" style="width: 150px">{% trans 'نام خانوادگی:' %}</label>
            <label class="fs-14" style="width: 150px">{{ request.user.last_name|default:'وارد نشده' }}</label>
        </li>
        <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
            <label class="fs-13 fw-bold" style="width: 150px">{% trans 'شماره تلفن:' %}</label>
            <label class="fs-14" style="width: 150px">{{ request.user.username }}</label>
        </li>
        <li class="d-flex justify-content-between w-100 my-1 border-bottom py-2 px-3">
            <label class="fs-13 fw-bold" style="width: 150px">{% trans 'ایمیل:' %}</label>
            <label class="fs-14" style="width: 150px">{{ request.user.email }}</label>
        </li>
    </ul>
{% endblock %}