{% load humanize %}
{% load function %}
{% load static %}
{% load i18n %}
<form method="POST" class="w-100" id="registerNewCustomers" action="{% url 'registerNewUser' %}">
    {% csrf_token %}
    <p class="alert alert-danger fs-13 d-none errMsg"></p>
    <div class="roomsListHotel">
        <ul class="p-0 d-flex flex-wrap m-0">
            {% for c in cart %}
                {% for r in c.cart_detail.all %}
                    <div class="w-100 my-3 roomListContainer border-bottom pb-1 d-flex flex-wrap"
                         style="min-height: 150px">
                        <div  class="imgCover roomListItem overflow-hidden  border-radius-5 position-relative w-25">
                            {% if r.room.room_images_set.all.count > 0 %}
                                <span  data-get="r" data-ref="{{ r.room.pk }}" class="icon-images btnShowImages fs-25  position-absolute text-white " style="top: 10px;right: 10px"></span>
                            {% endif %}
                            <img class="w-100 h-100" src="/media/{{ r.room.default_cover.file }}">
                        </div>
                        <div class="hotel-info roomListItem py-1 px-2 w-50" style="border-left: 1px solid #eee">
                            <label class="fs-17 my-1">{{ r.room.title }}</label>
                            <div class="facilityHotels flex-wrap border-bottom py-1 mt-1 d-flex">
                                <label style="min-width: 50px;"
                                       class="border-radius-5 d-flex align-items-center d-flex bg-muted m-1 p-3">
                                    <span class="icon-man-woman px-1 fs-18"></span>
                                    <span class="w-100 d-block px-1 text-center fs-13"> {{ r.room.capacity }} {% trans 'نفره' %} </span>
                                </label>
                                <label style="min-width: 50px;"
                                       class="border-radius-5 d-flex align-items-center d-flex bg-muted m-1 p-3">
                                    <span class="icon-filter px-1 icon-users fs-18"></span>
                                    <span class="w-100 d-block px-1 text-center fs-13">{{ r.room.extra_person }} {% trans 'افراد اضافه' %} </span>
                                </label>
                            </div>
                            <div class="facilityHotels flex-wrap py-1 mt-1 d-flex">
                                {% for f in r.room.room_facility_set.all %}
                                    <label style="min-width: 50px;" class="border-radius-5 bg-muted m-1 p-1">
                                        <span class="w-100 d-block text-center fs-12">{{ f.title }}</span>
                                    </label>
                                {% endfor %}
                            </div>
                            <div class="noteHotels mt-3 d-flex">
                                <p class="fs-12 text-muted" style="line-height: 2">{{ r.room.note }}</p>
                            </div>
                        </div>

                        <div class="hotelPricing roomListItem d-flex w-25 flex-wrap align-items-center position-relative align-content-between justify-content-center" style="width: 195px">
                            {% if r.room.room_discount.all.count > 0 %}
                                <div class="position-relative align-items-center d-flex justify-content-center w-100" style="height: 55px">
                                    <div style="width: 55px;height: 55px;left: 0;top: 1px" class="position-absolute">
                                        {% with r.room|getDiscount as discount %}
                                            {% if discount.reduction_type == 1 %}
                                                <span class="w-100 border-radius-5 d-flex bg-black" style="height: 5px;"></span>
                                                <div class="d-flex align-items-center justify-content-center mx-auto text-white fs-20 m-auto" style="height: 50px;background: #ff5b6b;width: 95%;left: 0;right: 0;top: 5px">
                                                    {{ discount.reduction|floatformat:"0"|intcomma }}%
                                                </div>
                                            {% else %}
                                                    <span style="color: #ff5b6b;text-decoration: line-through">{{ discount.reduction|floatformat:"0"|intcomma }}  </span>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                                        <p class="fs-18 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                                            <span style="text-decoration: line-through;color: #ff5b6b" class="w-100 " >{{ r.room.price|floatformat:"0"|intcomma }}</span>&nbsp;
                                        </p>
                                    </label>
                                </div>
                            {% endif %}
                            <div class="w-100 flex-wrap d-flex justify-content-center">
                            </div>
                            <label class="justify-content-center w-100 d-flex flex-wrap" style="line-height: 1">
                                <p class="fs-25 w-100 text-center my-2 d-flex align-items-center justify-content-center">
                                    <span>{{ r.room.price|calcPrice:r.room|floatformat:"0"|intcomma }}</span>&nbsp;
                                    <span class="text-muted fs-12">{% trans 'تومان' %}</span>
                                </p>
                                <span class="w-100 text-center text-muted my-2 fs-14">{% trans 'هر شب' %}</span>
                            </label>
                            <div class="w-100 text-center d-flex justify-content-center">
                                <label class="fs-14 m-auto">{% trans 'تعداد' %}</label>
                                <label class="fs-14 m-auto bg-primary justify-content-center align-items-center text-white p-2 border-radius-50" style="width: 35px;height: 35px;">{{ r.quantity }}</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

    <div class="p-3 mt-3 d-flex justify-content-between align-items-center fs-16">
        <p>مشخصات رزرو کننده</p>
        <label for="businessAccount" class="fs-13 align-items-center d-flex">
            <input id="businessAccount" type="checkbox">
            <span class="text-primary mx-1">دریافت فاکتور رسمی</span>
        </label>
    </div>
    <div class="d-flex flex-wrap w-75 mx-4" style="">
        {% for field in form %}
            <div class="input-group mx-2" style="width: 45%">
                <label class=" fs-13 mt-2 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <p class="p-3 mt-3 fs-16">مشخصات مهمان</p>
    <div class="d-flex pb-3 flex-wrap w-100 mx-4" style="">
        {% for field in form_1 %}
            <div class="input-group mx-2" style="width: 30%">
                <label class=" fs-13 p-2" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <div class="d-flex pb-3 flex-wrap border-top py-3 w-100 mx-4" style="">
        <div class="input-group d-flex justify-content-center mx-2" style="width: 45%">
            <label class="icon d-flex p-3 border-radius-5 w-75 position-relative" for="mellat" style="border: 2px solid #0b5ed7">
                <input type="radio" id="mellat" class="position-absolute invisible" name="paymentMethod" style="top: 5px;right: 5px">
                <label class="imgPayMethod" style="width: 55px;height: 55px">
                    <img src="{% static 'img/logo-w-text.png' %}" class="w-100 h-100">
                </label>
                <label class="d-flex mx-2 flex-wrap">
                    <b>بانک ملت</b>
                    <span class="fs-13 w-100">پرداخت با به پرداخت ملت</span>
                </label>
            </label>
        </div>
        <div class="input-group d-flex justify-content-center mx-2" style="width: 45%">
            <label class="icon d-flex p-3 border-radius-5 w-75 position-relative" for="mellat" style="border: 1px solid #aaa">
                <input type="radio" id="mellat" class="position-absolute invisible" name="paymentMethod" style="top: 5px;right: 5px">
                <label class="imgPayMethod" style="width: 55px;height: 55px">
                    <img src="{% static 'img/logo-w-text.png' %}" class="w-100 h-100">
                </label>
                <label class="d-flex mx-2 flex-wrap">
                    <b>فیش بانکی</b>
                    <span class="fs-13 w-100">پرداخت افلاین</span>
                </label>
            </label>
        </div>
    </div>
    <label for="agree" class="p-4">
        <input type="checkbox" id="agree">
        <span class="fs-13">با پرداخت رزرو با قوانین رزرو اینترنتی هتل تیک و قوانین لغو رزرو هتل موافقت کرده‌اید.</span>
    </label>
    <div class="d-flex pb-3 flex-wrap border-top py-3 w-100 mx-4" style="">
        <div class="input-group  mx-2" style="width: 30%">
            <a href="{% url 'confirmation' %}" style="" type="submit" class="fs-15 btn-primary text-white btn w-100 py-2 px-3 border-0 text-center">{% trans 'پرداخت و دریافت واچر' %}</a>
        </div>
    </div>
</form>
