<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="width:800px;margin: auto;line-height:2;font-family: tahoma;">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">هتل تیک</a>
    </div>
    <p style="font-size:1.1em;text-align: right">سلام,</p>
    <p style=";text-align: right">جهت ورود به سامانه و رزرو هتل مورد نظر خود از لینک زیر استفاده کنید.</p>
    <a href="{{ link }}" style="margin: 0 auto;padding: 0 10px;color: blue;font-size: 12px;cursor: pointer">{{ link }}</a>
    <p style="font-size:0.9em;;text-align: right">هتل تیک</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:left;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Hotel Tik Inc</p>
      <p>رزرو هتل به سریع ترین شکل ممکن</p>
    </div>
  </div>
</div>
</body>
</html>